.bg-light{
    background-color:rgb(43, 82, 133) !important;
}
/* .seahawks{
    background-color: rgb(44, 74, 241);
} */
.mainPortfolio{
    background-image: linear-gradient(rgba(0, 0, 0, -.2), rgba(0, 0, 0, 2)), url(./images/comp.jpg) ;
    background-position: center ;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-color: #382d20;
    color: #f8f3dc;
    text-align:center;
    min-height: 100vh;
    size: 100% ;
}
main{
    min-height: 100vh;
    padding-top: 40px;
    padding-bottom: 50px;
    margin-bottom: 0px !important;
}



/* .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    clear: both;
    width: 100%;
    color: white;
    text-align: center;
  
  } */

  /* .footer {
    position: absolute;
    bottom: 0;
    padding-top: 0;
    width: 100%;
    height: 50px;
} */
.nav-link {
    color: white;
}
.cards{
    background-color: #2B5285;
    border-radius: 8px;
}
legend {
    background-color: gray;
    color: white;
    padding: 5px 10px;

  }
  fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove (internal value);
  }
  li {
    list-style-type: none;
}
  
  /* .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
   } */
   .section {
    text-align: bottom;
}
.logo {
    background-color: red;
}
/* .nav {
    background-color: lightblue;
} */
/* main {
    background-color:  lightyellow;
} */
/* footer {
    background-color: lightgreen;
} */


